<div class="status">
  <h5>Ready</h5>
  <ul id="ready">
    <% @project_presenter.ready.each do |item| %>
      <div class="item-container">
        <div class="item-title">
          <%= item.title %>
        </div>
        <div class="item-description">
          <%= item.description %>
        </div>
        <div class="arrow-container">
          <div class="left-arrow">
            <%= link_to "<-", project_item_path(@project, item, format: "<-"), method: :put %>
          </div>
          <div class="right-arrow">
            <%= link_to "->", project_item_path(@project, item, format: "->"), method: :put %>
          </div>
        </div>
      </div>
    <% end %>
  </ul>
</div>

