<div class="project-title">
  <h1><%= @project.name %></h1>
</div>

<div class="project-statuses">

  <h2 class="status">Backlog</h2>

  <h2 class="status">Ready</h2>

  <h2 class="status">In Progress</h2>

  <h2 class="status">Done</h2>
</div>
