// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Project show page */
.status {
  float: left;
  margin-left: 1em;
  border: 2px solid black;
  width: 200px;
  text-align: center;
}
